!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}
    %title Character Data
  %body
    %h2 Characters
    - people.group_by(&:show_id).each do |show_id, people|
      %div{style: 'margin-top: 10px'}
        %b #{show_id.split('_').map(&:capitalize).join(' ')}:
        %span= link_people(people)

    - people.each do |person|
      %div{id: person.full_id, style: 'margin-top: 20px'}
        - person.attrs.each do |attr|
          %div
            %b #{attr}:
            %span{style: 'white-space:pre-wrap'}= person.send attr
        %div
          %b Images:
          %div{style: 'display:flex'}
            - person.images.each do |img|
              %div
                %div
                  %a{href: img.path}
                    %img{src: img.path, style: 'max-width:200px;margin-right:10px'}
                %div
                  #{img.size.join('x')}; #{img.type}
